.MobileWeb_banner_section .software_banner_images .software_bannerImage {
    max-width: 478px;
    width: 100%;
    position: absolute;
    bottom: -23px;
}
.MobileWeb_banner_section{
background: linear-gradient(321.36deg, #090B2A 52.92%, #0B2733 92.21%);
color: white;
}
.MobileWeb_banner_section .MobileWeb_banner_flexs{

    display: flex;
    align-items: center;
}
.MobileWeb_banner_flexs {
    display: flex;
    gap: 2rem;
    align-items: stretch;
    min-height: 735px;
}
.MobileWeb_banner_section .services_banner_subheading {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: blue;
}
.Mobile_banner_images {
    position: inherit;
    text-align: center;
    bottom: 0;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.Mobile_banner_images >img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width: 991px) {
    .MobileWeb_banner_flexs .software_banner_cols {
        position: inherit;
        inset: 0;
        z-index: 1;
    }
    .MobileWeb_banner_flexs {
    display: flex;
    gap: 2rem;
    align-items: stretch;
    min-height: 0px;
    margin-top: 8rem;
}.Mobile_banner_images {
    margin-top: 2rem;
    margin-bottom: 5rem;
}
}