/* Header */
.header{
    padding: 0;
    background-color: #0000007A;
}
.header-container{
    position: relative;
}
.header.white{
    background-color: var(--color-body);
}
.header.text-white .nav-link{
    color: #fff;
}
.header.text-black .nav-link{
    color: #000;
}
.navbar-brand .logo {
    max-width: 130px;
}
.navbar-brand:focus-visible{
    outline: none;
}
.header .navbar-nav {
    justify-content: end;
    align-items: center;
    padding-right: 0;
}
.header .btn.nav-link.mobile {
    display: none;
}
.header .btn.nav-link {
    background: linear-gradient(90deg, var(--color-blue) 0%, var(--color-purple) 100%) padding-box,
              linear-gradient(90deg, var(--color-blue) 0%, var(--color-purple) 100%) border-box;
    border: 1px solid transparent;
    color: #fff;
    padding: 11px 15px !important;
    height: auto;
    margin-left: 10px;
    border-radius: 25px;
    min-height: auto;
    position: relative;
}
.header .btn.nav-link svg {
    padding-left: 8px;
}
.header .btn.nav-link:hover {
    background: linear-gradient(90deg, var(--color-purple) 0%, var(--color-blue) 100%) padding-box,
              linear-gradient(90deg, var(--color-purple) 0%, var(--color-blue) 100%) border-box;
}
.header .btn.nav-link::before {
    animation: shine 1.5s ease-in-out infinite;
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .5), transparent);
}
.header .btn.nav-link:hover::before{
    width: 100%;
}
.navbar-nav .nav-link{
    padding: 20px 15px !important;
    font-size: 16px;
    line-height: .8;
    position: relative;
    overflow: hidden;
    z-index: 1;
    min-height: 70px;
    display: flex;
    align-items: center;
}
.navbar-nav .nav-link:before {
    bottom: 20px;
    display: block;
    height: 3px;
    width: 0;
    content: "";
    background-color: #1050bc;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}
.navbar-nav .nav-link:hover:before,
.navbar-nav .nav-link.active:before {
    width: calc(100% - 30px);
    opacity: 1;
}
.header.text-white .navbar-toggler {
    border: none !important;
}
.header.text-white .navbar-toggler svg{
    color: #fff;
}
.header .navbar-toggler {
    border: none !important;
    padding: 0px;
}
.header .navbar-toggler svg{
    color: #000;
    width: 18px;
    height: 18px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.header .navbar-toggler.collapsed svg.close-icon {
    display: none;
}
.header .navbar-toggler svg.close-icon {
    display: block;
}
.header .navbar-toggler.collapsed svg.bars-icon {
    display: block;
}
.header .navbar-toggler svg.bars-icon {
    display: none;
}
/* dropdown */
.header .navbar-nav .dropdown.nav-item {
    position: unset;
}
.header .navbar-nav .dropdown .dropdown-menu,
.nav-item-dropdown .dropdown-menu-custom {
    width: 100%;
    margin-top: 0px;
    border-radius: 0 0 15px 15px;
    border-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-darkblack);
}
.header-submenu-items {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 20px;
}
.portfolio-dropdown .menu_heading {
    padding: 20px 20px 0;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}
/* .portfolio-dropdown .dropdown-menu {
    max-height: 480px;
    overflow: auto;
} */
.portfolio-dropdown .header-submenu-items {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 0px;
}
.portfolio-dropdown .header-submenu-items .dropdown-item {
    padding: 4px 10px;
}
.portfolio-dropdown .header-submenu-items .dropdown-item p {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}
.portfolio-dropdown .header-submenu-items .dropdown-item p span {
    font-size: 12px;
    color: gray;
}
.header-submenu-items .dropdown-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent !important;
    outline: none;
    color: var(--color-white);
    line-height: normal;
    font-size: 15px;
    white-space: normal;
}
.header-submenu-items .dropdown-item svg {
    opacity: 0;
}
.header-submenu-items .dropdown-item:hover svg {
    opacity: 1;
    transition: ease-in-out .4s;
}
.header-submenu-items .dropdown-item .submenu-img {
    padding: 6px;
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 5px;
}
.header-submenu-items .dropdown-item img {
    filter: brightness(0);
    object-fit: contain;
    width: 100%;
}
.header-submenu-wrap {
    display: flex;
    align-items: center;
}
.header-submenu-wrap .header-submenu-left {
    flex: 1 0 65%;
}
.header-submenu-wrap .header-submenu-right {
    flex: 1 0 35%;
    background-color: #e8f5ff;
    overflow: hidden;
    padding: 30px 20px;
    text-align: center;
}
.header-awards-carousel .award-item-text {
    margin-bottom: 20px;
}
.header-awards-carousel .owl-dots .owl-dot.active span,
.header-awards-carousel .owl-dots .owl-dot:hover span{
    background-color: #1050bc;
}
.header .navbar-nav .dropdown.nav-item.less-dropdown {
    position: relative;
}
.header .navbar-nav .less-dropdown .dropdown-menu,
.nav-item-dropdown.less-dropdown .dropdown-menu-custom {
    width: 250px;
    left: auto;
}
.header .navbar-nav .less-dropdown .header-submenu-items{
    grid-template-columns: repeat(1,1fr);
    padding: 20px 10px;
}
.header .award-item-logo img {
    max-width: 150px;
    margin: auto;
}
.nav-item-dropdown .nav-link-wrapper {
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 8px;
    position: relative;
}
.nav-item-dropdown .nav-link-wrapper .nav-link {
    padding: 0px !important;
    position: unset;
}
.nav-item-dropdown .nav-link-wrapper .down_arrow {
    color: var(--color-white);
    cursor: pointer;
    font-size: 14px;
}
.nav-item-dropdown .dropdown-menu-custom {
    position: absolute;
    left: 0;
    width: 100%;
}
.nav-item-dropdown .dropdown-menu-custom.portfolio-dropdown {
    overflow-y: visible; 
}

@keyframes btneffect {
    0% {
      transform: translate(-50%,-50%) scale(0);
      -webkit-transform: translate(-50%,-50%) scale(0);
      visibility: visible;
      opacity: 1;
    }
    100% {
      transform: translate(-50%,-50%) scale(1);
      -webkit-transform: translate(-50%,-50%) scale(1);
      visibility: hidden;
      opacity: 0;
    }
}
@media (max-width: 1399px) {
    .portfolio-dropdown .header-submenu-items {
        grid-template-columns: repeat(4, 1fr);
    }
    
}
@media (max-width: 1199px) {
    .header-submenu-wrap .header-submenu-right{
        display: none;
    }
    .navbar-nav .nav-link {
        padding: 16px 10px !important;
    }
    .nav-item-dropdown .nav-link-wrapper {
        padding: 0 10px;
    }
}
@media (max-width: 991px) {
    .header .navbar-nav {
        justify-content: center;
        align-items: flex-start;
        padding: 30px 20px 20px;
    }
    .navbar-nav .nav-link:before{
        display: none;
    }
    .header .btn.nav-link {
        margin: auto;
    }
    .header-container {
        position: initial;
    }
    .header{
        padding: 6.5px 0;
    }
    .navbar-nav .nav-link,
    .nav-item-dropdown .nav-link-wrapper .nav-link{
        min-height: auto;
        padding: 20px 0 !important;
    }
    .nav-item-dropdown .nav-link-wrapper {
        padding: 0;
        justify-content: space-between;
    }
    .header .navbar-nav .dropdown.nav-item {
        position: relative;
        width: 100%;
    }
    .header .navbar-nav .dropdown.nav-item .nav-link {
        position: unset;
    }
    .header .navbar-nav .dropdown.nav-item .nav-link.dropdown-toggle::after{
        position: absolute;
        right: 0;
    }
    .header .navbar-nav .less-dropdown .dropdown-menu,
    .nav-item-dropdown.less-dropdown .dropdown-menu-custom {
        width: 100%;
    }
    .portfolio-dropdown .header-submenu-items {
        grid-template-columns: repeat(1, 1fr);
    }
    .header-submenu-items {
        grid-template-columns: repeat(1,1fr);
    }
    .navbar-nav .dropdown-menu {
        background-color: #181818;
        color: var(--color-white);
        padding: 0;
    }
    .portfolio-dropdown .dropdown-menu,
    .nav-item-dropdown .dropdown-menu-custom.portfolio-dropdown {
        max-height: 350px;
        overflow-y: scroll !important;
    }
    .mobile_menu_offcanvas {
        background-color: #181818;
        color: var(--color-white);
    }
    .mobile_menu_offcanvas .btn-close {
        filter: brightness(0) invert(1);
        opacity: 1;
        padding: 20px;
        outline: unset !important;
        box-shadow: unset !important;
    }
    .mobile_menu_offcanvas .offcanvas-header {
        padding-bottom: 0;
    }
    .mobile_menu_offcanvas .offcanvas-body {
        padding: 0 10px;
    }
    .mobile_menu_offcanvas .btn.nav-link {
        display: none;
    }
    .header .btn.nav-link.mobile {
        display: block;
        margin-left: auto;
        margin-right: 20px;
        padding: 7px 15px !important;
    }
    .nav-item-dropdown .dropdown-menu-custom {
        position: static;
        background-color: var(--color-transparent);
    }
}
@media (max-width: 425px) {
    .header {
        padding: 12px 0;
    }
    .header .btn.nav-link.mobile {
        margin-right: 10px;
    }
    .header .btn.nav-link.mobile {
        margin-right: 10px;
        font-size: 14px;
        padding: 7px 10px !important;
    }
    .header.text-white .navbar-toggler img {
        width: 24px;
    }
    .navbar-brand .logo {
        max-width: 100px;
    }
    .header .navbar-brand {
        margin-right: 0;
    }
}