.tab-header {
    justify-content: center;
    display: flex;
    gap: 8rem;
    margin-top: 20px;
    font-family: "Poppins-Bold";
    font-size: 25px;
}

.tab-item {
  cursor: pointer;
  padding-bottom: 8px;
  position: relative;
  color: #aaa;
}
.mt-4 {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.tab-item.active {
  color: #fff;
}

.tab-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
background: linear-gradient(90deg, #A600FF 0%, #0011FF 100%);

}

.tab-card img {
  max-width: 80px;
  margin-bottom: 10px;
}
.tab-card {
    padding: 28px;
    border: 0.5px solid rgba(255, 255, 255, 1);
    width: 178px;
    height: 178px;
    background: rgba(16, 16, 16, 1);
}

.tab-card:hover{
    background: linear-gradient(180deg, #0011FF 0%, #A600FF 100%);
    

}
@media(max-width:991px){
  .tab-header{
    flex-wrap: wrap;
    gap: 4rem;
 }
}
@media(max-width:767px){
  .tab-header{
    flex-wrap: wrap;
    gap: 2rem;
 }
 .mt-4{
  flex-wrap: wrap;
 justify-content: left;
 }
}
@media(max-width:991px){
 .mt-4{
  flex-wrap: wrap;
 justify-content: center;
 }
 .tab-header {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
}
}
