.software_banner_section {
    background: linear-gradient(260.42deg, #090B2A 15.89%, #0B2733 62.49%);
    color: var(--color-white);
    position: relative;
}
.software_banner_section .software_bannerbg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: contain;
}
.software_banner_section .container {
    position: relative;
}
.software_banner_flexs {
    display: flex;
    gap: 2rem;
    align-items: stretch;
    min-height: 735px;
}
.software_banner_flexs .software_banner_cols {
    flex: 1;
}
.software_banner_flexs .software_banner_cols.contents_block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    justify-content: center;
}
.software_banner_images {
    position: relative;
    text-align: center;
    bottom: 0;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.software_banner_images .software_bannerImage {
    max-width: 478px;
    width: 100%;
    position: absolute;
    bottom: 80px;
    animation: bounce2 4s ease infinite;
}
.software_banner_images .software_bannerBox {
    max-width: 540px;
    width: 100%;
    padding-top: 300px;
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-50px);
    }
    60% {
        transform: translateY(-20px);
    }
}
.software_banner_cols .lines-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-around;
    pointer-events: none;
    top: 0;
    right: 0;
    width: calc(36% + 13vw);
    bottom: 0;
    left: auto;
}
.software_banner_cols .lines-wrapper .line {
    position: relative;
    width: 1px;
    height: 100%;
    background: #FFFFFF;
    overflow: hidden;
}
.software_banner_cols .lines-wrapper .gradient-block {
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, #BF00FF 0%, #0044FF 100%);
    animation-name: moveUpDown;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

/* animation */
@keyframes moveUpDown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(430%);
    }
}

.delay-1 {
    animation-duration: 6s;
    animation-delay: -0s;
}

.delay-2 {
    animation-duration: 6s;
    animation-delay: -1.2s;
}

.delay-3 {
    animation-duration: 6s;
    animation-delay: -2.4s;
}

.delay-4 {
    animation-duration: 6s;
    animation-delay: -3.6s;
}

.delay-5 {
    animation-duration: 6s;
    animation-delay: -4.8s;
}
@media (max-width: 1399px) {
    .software_banner_cols .lines-wrapper .line.line-5 {
        display: none;
    }
}
@media (max-width: 991px) {
    .software_banner_cols .lines-wrapper .line.line-4 {
        display: none;
    }
    .software_banner_images .software_bannerImage {
        max-width: 350px;
    }
    .software_banner_flexs {
        min-height: 640px;
    }
    .software_banner_flexs {
        gap: 1rem;
    }
    .software_banner_flexs .software_banner_cols.contents_block {
        gap: 1rem;
    }
}
@media (max-width: 767px) {
    .software_banner_flexs {
        flex-direction: column;
        padding-top: 150px;
    }
    .software_banner_images .software_bannerBox {
        max-width: 400px; 
    }
    .software_banner_cols .lines-wrapper {
        display: none;
    }
    .software_banner_section .software_bannerbg {
        object-fit: cover;
        width: 100%;
    }
}
@media (max-width: 439px) {
    .software_banner_images .software_bannerBox {
        max-width: 280px; 
        padding-top: 250px;
    }
    .software_banner_images .software_bannerImage {
        max-width: 280px;
    }
    .software_banner_images {
        padding-top: 30px;
    }
    .software_banner_flexs {
        padding-top: 120px;
    }
}