.powering_section {
    position: relative;
    background:var(--color-white) ;
    color: var(--color-black);
    overflow: hidden;
}
.powering_overlay {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: scale-down;
    width: 500px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.powering_section .container {
    position: relative;
}
.caseStudySection {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.powering_content_block.no-bottom-padding.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.powering_section .paraHeading{
  font-family: var(--font-poppins);
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;
        margin-bottom: 45px;

}
.powering_section .heading_main{
    font-size: 45px;
    line-height: 50px;
    max-width: 80%;
    text-align: center;
    color: #0046FF;
        font-family: var(--font-poppins-bold);
        font-weight: 600;
        margin-bottom: 35px;


}

.caseStudyContent {
  width: 100%;
  min-height: 300px;
  border: 1px solid #757575;
  border-radius: 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  padding: 28px 26px;
  box-sizing: border-box;
  overflow: hidden;

  transition: transform 0.3s ease;
}

.caseStudyContent:hover {
  transform: scale(1.03);
}
/* LEFT */
.caseStudyText {
  padding-left: 0;    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: start;
}

.caseStudyText h2 {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight:600;
  color: #000000;
font-family: var(--font-poppins-semibold);
text-align: left;

}

.caseStudyDescription {
  margin: 12px 0 16px;
  font-size: 16px;
  line-height: 20px;
      font-family: var(--font-poppins);

  color: #515151;
}

/* STATS */
.stats {
  display: flex;
  gap: 38px;
  margin-bottom: 25px;
}

.stat h3 {
  margin: 0;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: black;
  text-align: left;
}

.stat p {
  margin: 5px 0 0;
  font-size: 16px;
  line-height:20px;
  color: black;
}

/* BUTTON */
.caseStudyButton {
  height: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
      font-family: var(--font-poppins);
  background: linear-gradient(90deg, #174cff, #6b00ff);
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 10px;
}


/* IMAGE */
.caseStudyImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 34px;
}
.caseStudyImage img {
  width: 100%;
  max-width: 360px;
  height: auto;
  object-fit: contain;
}
.caseStudyDescription{
    text-align: left;
}

@media (max-width: 991px) {
  .caseStudyContent {
    grid-template-columns: 1fr 1fr;
    padding: 25px 20px;
  }

  .caseStudyImage img {
    max-width: 260px;
  }
}

@media (max-width: 767px) {
  .caseStudyContent {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 30px 20px;
  }

  .caseStudyText {
    text-align: center;
  }



  .stats {
    justify-content: center;
  }

  .caseStudyImage {
    order: -1;
    padding-left: 0px;
  }

  .caseStudyImage img {
    max-width: 280px;
  }
}


.caseStudyMarqueeTrack{
    display: flex;
    overflow: hidden;
}
.caseStudySection{
    min-width: 800px;
    max-width: 800px;
}
.caseStudyMarqueeTrack {
  display: flex;
  width: max-content;
  animation: caseStudyMarquee 40s linear infinite;
}

.caseStudyMarqueeWrapper:hover .caseStudyMarqueeTrack {
  animation-play-state: paused;
}
.caseStudyMarqueeWrapper{
    overflow: hidden;
}
@keyframes caseStudyMarquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


@media (max-width: 767px) {
.caseStudySection {
    min-width: 320px;
}
.caseStudyImage{
    height: 340px;
}
.caseStudyText h2{
    font-size: 25px;
    line-height: 35px;
}
.powering_section .heading_main{
    font-size: 35px;
}
}
@media (max-width: 460px) {
.caseStudySection {
    width: 320px;
}
.caseStudyImage{
    height: 320px;
}
}





















.powering_grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 256px);
    justify-content: center;
    margin-bottom: 20px;
}
.powering_grid_item {
    padding: 20px;
    background: linear-gradient(306.1deg, #0b1b4f 0%, #181662 88.58%) padding-box,
              linear-gradient(90deg, var(--color-gradientblue) 0%, var(--color-pink) 100%) border-box;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(130, 40, 255, 0.25);
    cursor: pointer;
    text-align: left;
}
.powering_grid_item:hover {
    background: linear-gradient(306.1deg, #5E00FF 0%, #00076F 88.58%) padding-box,
              linear-gradient(90deg, var(--color-gradientblue) 0%, var(--color-pink) 100%) border-box;
}
.powering_grid_item span {
    font-size: 75px;
    line-height: 86px;
    font-family: var(--font-poppins-semibold);
}   
.powering_grid_item .content_powering {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.content_powering .powering_icon {
    background-color: var(--color-blackblue);
    width: 36px;
    height: 36px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_powering .powering_icon img {
    width: 20px;
    height: 20px;
}
.content_powering .paragraph_content {
    margin: 0;
    flex: 1;
}
@media (max-width: 1399px) {
    .powering_grid {
        gap: 20px;
    }
}
@media (max-width: 1199px) {
    .powering_grid {
        grid-template-columns: repeat(3, 256px);
    }
}
@media (max-width: 991px) {
    .powering_grid {
        grid-template-columns: repeat(2, 256px);
    }
}
@media (max-width: 767px) {
    .powering_grid {
        grid-template-columns: repeat(2, 245px);
    }
}
@media (max-width: 575px) {
    .powering_grid {
        grid-template-columns: repeat(1, 245px);
    }
    .powering_overlay {
        width: 100%;
    }
}