/* Career page */
.career-banner{
    background-color: #0d3577;
}
/* reasons to join */
.reasons-join-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.reasons-join-item img.responsive-img {
    width: 60px;
}
.reasons-join-item-content .paragraph {
    margin: 0;
}
@media (max-width: 767px) {
    .reasons-to-join .heading3,
    .reasons-to-join .heading5{
        text-align: center;
    }
}
/* Job Positions */
.job-positions-flex {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: 40px 0;
}
.job-positions-flex .job-positions-item {
    display: flex;
    gap: 20px;
    flex: 1 0 30%;
}
.job-position-content p {
    margin: 0;
}
.job-positions-flex .job-positions-item svg {
    font-size: 40px;
    width: 50px;
}


.TopSectionHowWeWorkSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 4rem;
}

.TopSectionHowWeWorkSection .topSectionDiv {
    display: flex;
    align-items: start;
    gap: 12px;
    width: 275px;
    height: 130px;
background: linear-gradient(151.1deg, rgba(184, 184, 184, 0.08) 6.8%, rgba(154, 154, 154, 0.08) 99.93%);
    padding: 22px 30px;
    /* border: 1px solid #FFFFFF; */
    border-radius: 15px;
}
.DownsectionHowWeWork {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
.BottomSecitionDiv {
    width: 272px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
background: linear-gradient(151.1deg, rgba(184, 184, 184, 0.08) 6.8%, rgba(154, 154, 154, 0.08) 99.93%);
    padding: 37px;
}
.processStepHowWeWrok {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
}
img.ProcessHowWeWorkImg {
    height: 100%;
    width: 50%;
}.processStepHowWeWrok {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
}   

.Process1HowWeWork {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 44px;
    background: #181818;
    border-radius: 9px;
}
h1.noOfPoint {
    line-height: 20px;
    font-size: 55px;
    font-weight: 900;
    color: #5D5959;
    position: relative;
    top: 18px;
}

.processStepHowWeWrok .FontSize25 {
    font-size: 25px !important;
    font-family: "Poppins-Bold";
    color: #FF00FB;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.Process1HowWeWork .FontSize14 {
    font-size: 14px;
    color: #8C8C8C;
}
img.ProcessHowWeWorkImg {
    height: 100%;
    width: 55%;
}
span.listPiont {
    display: flex;
    align-items: start;
    gap: 16px;
    text-align: left;
}
.blue{
    color: #387DFF !important;
}
@media (max-width:1199px) {
    .job-positions-flex {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: 40px 0;
}
.DownsectionHowWeWork {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
    
}

@media (max-width:991px) {
    .Process1HowWeWork {
    flex-direction: column;
}
img.ProcessHowWeWorkImg {
    height: 100%;
    width: 100%;
}.Process1HowWeWork.PINKUNO {
    flex-direction: column-reverse;
}
}
@media (max-width:767px) {
    .TopSectionHowWeWorkSection {
    justify-content: center;
    flex-wrap: wrap;
}
.DownsectionHowWeWork {
    justify-content: center;
}
    
}