.services_expertise_section {
    background-color: white;
    color: black;
}

.services_expertise_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.services_expertise_item {
    background: linear-gradient(90deg, #06102B 0%, #06102B 100%) padding-box,
              linear-gradient(90deg, #06102B 0%, #06102B 100%) border-box;
    border: 1px solid transparent;
    display: block;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 8px;
    padding: 30px;
}
.services_expertise_item:hover {
    background: linear-gradient(90deg, #06102B 0%, #06102B 100%) padding-box,
              linear-gradient(270deg, #0011FF 0%, #A600FF 100%) border-box;
}
.services_expertise_icon_box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #F200FF47;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.services_expertise_icon_box .services_expertise_icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.expertiseSection {
    width: 100%;
    background: white;
 
}

.expertiseImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.expertiseImage img {
    width: 100%;
    max-width: 638px;
    height: auto;
    object-fit: contain;
}

/* RIGHT CONTENT */

.expertiseContent {
    padding-left: 30px;
}
.expertiseTag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: uppercase;

    
    font-family: var(--font-poppins-medium);
  
    margin-bottom: 18px;
}

.expertiseContent h2 {
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    font-family: var(--font-poppins-medium);
color: #3A3939;

}
.expertiseContent h2 span{
    color: #0046FF;
}
.expertiseContent p {
    margin-bottom: 55px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-poppins-medium);
    line-height: 22px;
}

/* SERVICES */
.expertiseServices {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom:50px;
}
.expertiseService {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 13px;
    color: #111;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-poppins-medium);
    line-height: 25px;
}






.expertiseService .serviceIcon{
    height: 45px;
    width: 45px;
    
}
.expertiseService .serviceIcon img{
    /* width: 100%; */
    height: 100%;
}

/* BUTTON */

.expertiseButton {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    padding: 9px 12px 9px 18px;
    border-radius: 30px;

    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;

    background: #0011FF;

    transition: all 0.3s ease;
}

.expertiseButton svg {
    width: 25px;
    height: 25px;
}

.expertiseButton:hover {
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(85, 0, 255, 0.25);
}

.services_expertise_section .align-items-center {
    align-items: start!important;
    justify-content: start;
}
/* TABLET */
@media (max-width: 1199px) {

.expertiseServices {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 45px;
    row-gap: 25px;
    margin-bottom: 55px;
}

}
@media (max-width: 991px) {

  span.topSectionExpertise {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .expertiseImage {
        margin-bottom: 30px;
    }
.expertiseContent {
    padding-left: 0px;
}
 
    .expertiseContent h2 {
        font-size:35px;
        text-align: center;
    }
    .expertiseContent p{
        text-align: center;
    }
}


/* MOBILE */

@media (max-width: 767px) {
.expertiseSection .ImageDiv {
display: none;
}
.expertiseService{
    align-items: center;
}
}