.slider-section {
  /* background: linear-gradient(135deg, #021b2f, #0a0f2c); */
  padding: 80px 40px;
}

.slider-container {
  max-width: 1200px;
  margin: auto;
}

.card-wrapper {
  padding: 15px;
}

.service-card {
    background: #1c1c1c;
    color: #fff;
    padding: 35px 25px;
    border-radius: 12px;
    min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.service-card:hover {
  transform: translateY(-8px);

}
.serviesCardHeading {
    display: flex;
    align-items: start;
    gap: 20px;
    border-bottom: 1px solid;
}
.service-title {
    font-size: 24px;
    margin-bottom: 33px;
    font-weight: 600;
    /* text-decoration: underline; */
    /* margin-bottom: 0px; */
    /* padding-bottom: 2rem; */
}
.service-list {
  margin-top:2rem ;
  list-style: none;
  padding: 0;
}

.service-list li {
    margin-bottom: 14px;
    font-size: 18px;
    position: relative;
    padding-left: 20px;
    line-height: 1.6;
}

.service-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: white;
  font-size: 18px;
}

.consult-btn {
  background: #b4f000;
  border: none;
  padding: 12px 15px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.consult-btn:hover {
  background: #9fd800;
}

/* Slick Dots Custom */
.slick-dots li button:before {
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #b4f000;
}