.awards_section {
    background-color: var(--color-white);
    border-radius: 10px;
    color: var(--color-black);
    padding: 3rem 2rem;
    margin-top: -250px;
}
.award_list_item {
    text-align: center;
}
.award_list_item .award_image {
    max-width: 158px;
    margin: auto;
}
@media (max-width: 575px) {
    .awards_section {
        padding: 2rem 1rem;
    }
}

/* Brands */
.brands_block .heading_main {
    text-align: center;
    color: var(--color-darkpurple);
    margin: 0;
}
.partner-logos .partner-logo {
    justify-content: center;
    display: flex;
    height: 45px;
    align-items: center;
    padding: 0 20px;
}
.brands_block .partners-panel {
    background-color: #f2f2f2;
    padding: 10px 0;
    max-width: 1140px;
    margin: auto;
}
@media (max-width: 480px) {
    .partner-logos .partner-logo {
        padding: 0 10px;
    }
}