.services_section_flex {
    display: flex;
    gap: 4rem;
    align-items: start;
}
.services_flex_left {
    flex: 1;
}
.services_flex_right {
    width: 496px;
    position: relative;
    border-radius: 15px;
    padding: 40px;
    overflow: hidden;
    min-height: 523px;
}
.services_flex_right .services_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    filter: blur(20px);
}
.services_flex_right .services_scale_content {
    position: relative;
}
.services_scale_content .struggling_text {
    font-size: 18px;
    font-family: var(--font-poppins-sembold);
    line-height: 22px;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    margin-bottom: 50px;
}
.services_scale_content .heading_main {
    margin-bottom: 40px;
}
@media (max-width: 1199px) {
    .services_section_flex {
        gap: 2rem;
    }
    .services_flex_right {
        width: 450px;
    }
}
@media (max-width: 991px) {
    .services_section_flex {
        flex-direction: column;
    }
    .services_flex_right {
        min-height: auto;
        margin: auto;
    }
}
@media (max-width: 480px) {
    .services_flex_right {
        width: 340px;
        padding: 25px 15px;
    }
    .services_scale_content .btn-gradient-blue {
        font-size: 14px;
        line-height: 18px;
    }
    .services_scale_content .heading_main {
        margin-bottom: 20px;
    }
    .services_scale_content .struggling_text {
        margin-bottom: 20px;
    }
}
@media (max-width: 375px) {
    .services_flex_right {
        width: 100%;
    }
}

/* Slider */
.servics_slider_block {
    overflow: hidden;
}
.servics_slider_block .slick-list {
    margin: 0 -15px;
}

.servics_slider_block  .slick-slide > div {
    padding: 0 15px;
    height: 100%;
}
.servics_slider_block .slick-track
{
    display: flex !important;
}

.servics_slider_block .slick-slide
{
    height: inherit !important;
}
.services_slider_item {
    background: linear-gradient(var(--color-lightblack), var(--color-lightblack)) padding-box,
              linear-gradient(90deg, var(--color-lightblack) 0%, var(--color-lightblack) 100%) border-box;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px 25px;
    position: relative;
    height: 100%;
}
.services_slider_item:hover {
    background: linear-gradient(var(--color-lightblack), var(--color-lightblack)) padding-box,
              linear-gradient(90deg, var(--color-gradientblue) 0%, var(--color-pink) 100%) border-box;
}
.services_slider_item::after {
    content: "";
    width: 0;
    height: 80%;
    background: linear-gradient(180deg, #BF00FF 0%, #0044FF 100%);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.services_slider_item:hover::after {
    width: 4px;
}
.services_slider_item .services_item_content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.services_item_content .services_item_icon {
    width: 38px;
    height: 38px;
    object-fit: contain;
}
.services_item_content .services_item_title {
    font-size: 20px;
    font-family: var(--font-poppins-semibold);
    margin: 0;
}
.services_slider_item .services_item_text {
    font-size: 14px;
    font-family: var(--font-poppins-medium);
    margin: 20px 0 0;
}
@media (max-width: 1199px) {
    .servics_slider_block .slick-list {
        margin: 0 -10px;
    }

    .servics_slider_block  .slick-slide > div {
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .servics_slider_block .slick-list {
        padding-left: 0 !important;
    }
}