.destopRoboSection {
  width: 100%;
  height: 100%;
}
.innovative_section{
    background-color: white;
    color: black;
}
.innovative_section .heading_main{
    color: #0046FF;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
    font-family: var(--font-Poppins-SemiBold);
    font-weight: 600;
    text-align: center;
}
.destoprobosection {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding-bottom: 120px;
}
.mainDivForRoboSection{
    display: none;
}
@media (max-width:767px) {
       .destoprobosection{
        display: none;
       }
       .innovative_section .container{
    background: linear-gradient(180deg, rgba(250, 244, 253, 0) 0%, #ECC9FE 100%);
    border-radius: 0px 0px 184px 189px;
    padding-bottom: 30px;

       }
       .innovative_section .heading_main{
        margin-bottom: 47px;   
    }
    .roboTitle{
        font-size: 24px;
        line-height: 24px;
        font-family: var(--font-poppins-medium);
        text-align: center;
    }
    .roboParA{
        font-size: 18px;
        line-height: 24px;
        font-family: var(--font-poppins-medium);
        text-align: center;
        font-weight: 500;
        margin-bottom: 0px;
    }.solutionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    max-width: 70%;
}.mainDivForRoboSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px;
    
}
}