/* services numbers cards */
.services-numbers-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    padding: 3rem 0 0;
}
.services-numbers .services-numbers-card {
    height: 100%;
    position: relative;
    margin-top: 0;
    background-color: #121212;
    border: none;
    width: 100%;
    border-radius: 0 50px;
    display: flex;
    padding: 30px 20px;
    transition: all ease-in .2s;
    text-decoration: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}
.services-numbers-image {
    flex: 0 0 60px;
}
.services-numbers-content {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services-numbers span {
    line-height: .8;
    color: white;
    font-weight: 500;
}
.services-numbers-card .services-numbers-text {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin: 0;
}
@media (max-width: 1400px) {
    .services-numbers-image {
        flex: 0 0 50px;
    }
    .services-numbers span{
        font-size: 72px;
    }
    .services-numbers-card .services-numbers-text{
        font-size: 18px;
    }
}
@media (max-width: 1199px) {
    .services-numbers-cards {
      grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 767px) {
    .services-numbers-cards {
      grid-template-columns: repeat(1,1fr);
    }
}