.seo-service-sheffield-banner{
    background: url('../../../../../public/assests/images/services/seo-service-sheffield/seo-service-sheffield.webp');
    background-size: cover;
    background-position: center;
}
/* final reflection */
.services-bottom-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 3rem;
    gap: 30px;
}
.services-bottom-wrap {
    width: calc(25% - 23px);
}
.services-bottom-div {
    position: relative;
    height: 100%;
}
.services-bottom-front-image {
    width: 50px;
}
.services-bottom-div .heading4 {
    margin: 20px 0;
}
.services-bottom-div a {
    background: #f1f2fd;
    display: block;
    height: 100%;
    color: #000;
    text-decoration: unset;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px -6px rgb(0 0 0/55%);
}
.services-bottom-div a:hover{
    background: #1050bc;
    color: #fff;
}
.services-bottom-div a:hover .services-bottom-front-image {
    filter: invert(1);
    transform: scale(1.2);
}
@media (max-width: 1199px) {
    .services-bottom-wrap {
        width: calc(33.33% - 20px);
    }
}
@media (max-width: 991px) {
    .services-bottom-wrap {
        width: calc(50% - 15px);
    }
}
@media (max-width: 549px) {
    .services-bottom-wrap {
        width: 100%;
    }
}

/* what software section */
.what-software-section{
    background: #000 url('../../../../../public/assests/images/awards-BG.webp') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.what-software-section .leadtxt h3 {
    margin-bottom: 30px;
}
@media (max-width: 991px) {
   .what-software-section .leadsubtxt.mb-3.text-center{
        margin: 30px 0;
    } 
}

/* Reasons to choose section */
.reasons-tab-block {
    box-shadow: 0px 4px 15px -6px rgb(0 0 0/55%);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
    background-color: #f1f2fd;
}
.reasons-tab-cols{
    flex: 1;
}
.reasons-tab-left {
    padding: 20px;
}
.reasons-tab {
    height: 420px;
    overflow-y: auto;
    flex-wrap: unset;
    justify-content: space-between;
}
.reasons-tab .nav-link{
    color: #000;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: unset !important;
    padding: 15px 20px;
    position: relative;
}
.reasons-tab .nav-link svg {
    padding-right: 10px;
    font-size: 12px;
}
.reasons-tab .nav-link.active{
    color: #1367fb;
    font-weight: 500;
}
.reasons-tab-block .tab-content {
    height: 100%;
    padding: 30px;
    background-color: #1050bc;
    color: #fff;
    border-radius: 0 20px 20px 0;
}
.reasons-tab-block .tab-content .tab-pane {
    height: 100%;
}
/* width */
.reasons-tab::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
.reasons-tab::-webkit-scrollbar-track {
    background: #ccc; 
}
   
/* Handle */
.reasons-tab::-webkit-scrollbar-thumb {
    background: #1050bc; 
}
.reasons-tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.reasons-tab-content .reasons-content-icon {
    width: 70px;
    margin-bottom: 10px;
}
.reasons-tab-content .paragraph{
    margin: 10px 0 0;
}
.reasons-tab-content .paragraph a{
    color: #fff;
}
@media (max-width: 1399px) {
    .reasons-tab{
        height: 480px;
    }
}
@media (max-width: 1199px) {
    .reasons-tab{
        height: 520px;
    }
}
@media (max-width: 991px) {
    .reasons-tab-block {
        flex-direction: column;
    }
    .reasons-tab-block .tab-content {
        border-radius: 0 0 20px 20px;
    }
}
@media (max-width: 480px) {
    .reasons-tab-left {
        padding: 10px;
    }
    .reasons-tab .nav-link{
        padding: 15px;
    }
    .reasons-tab-block .tab-content {
        padding: 20px;
    }
}

/* faq panel home */
.faq-panel .accordion {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 2rem 0 0;
}
.faq-panel .accordion-item {
    margin-bottom: 25px;
    padding: 20px 40px;
    background: #f1f2fd;
    border-radius: 20px !IMPORTANT;
    border: none;
}
.faq-panel .accordion-item .accordion-button {
    font-size: 18px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    background: transparent !important;
    border-radius: unset !important;
    box-shadow: unset !important;
}
.faq-panel .accordion-item .accordion-button:hover {
    color: #1367fb;
}
.faq-panel .accordion-item .accordion-button:focus,
.faq-panel .accordion-item .accordion-button:focus-visible{
    outline: none !important;
    box-shadow: unset !important;
}
.faq-panel .accordion-body {
    padding: 20px 20px 0 0;
}
.faq-panel .accordion-body ul {
    padding-left: 18px;
}
.faq-panel .accordion-body ul li {
    padding-bottom: 5px;
}
@media (max-width: 767px) {
    .faq-panel .accordion {
      grid-template-columns: repeat(1,1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
}
