.business_goals_section  .heading_main {
    text-align: center;
    max-width: 972px;
    margin: auto;
}
.business_goals_section .business_goals_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 4rem;
}
.business_goals_item {
    border-radius: 15px;
    padding: 30px;
    background: linear-gradient(306.1deg, #5E00FF 0%, #00076F 88.58%) padding-box,
              linear-gradient(90deg, var(--color-gradientblue) 0%, var(--color-pink) 100%) border-box;
    border: 1px solid transparent;
}
.business_goals_item .business_goals_header {
    display: flex;
    gap: 15px;
    align-items: center;
}
.business_goals_header .goals_item_icon {
    width: 59px;
    height: 59px;
    object-fit: contain;
}
.business_goals_header .goals_item_title {
    font-size: 20px;
    line-height: 25px;
    font-family: var(--font-poppins-semibold);
    margin: 0;
    flex: 1;
}
.business_goals_item .business_goals_content {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}
.business_goals_content .goals_features_list {
    display: flex;
    gap: 15px;
    align-items: start;
}
.goals_features_list .goals_features_icon {
    width: 29px;
    height: 29px;
    object-fit: contain;
}
.goals_features_list .goals_features_title {
    max-width: 206px;
    font-family: var(--font-poppins-semibold);
    margin: 0;
    flex: 1;
}
@media (max-width: 1199px) {
    .business_goals_section .business_goals_grid {
        gap: 2rem;
    }
    .business_goals_item {
        padding: 20px;
    }
    .business_goals_header .goals_item_icon {
        width: 40px;
        height: 40px;
    }
    .business_goals_item .business_goals_content {
        gap: 2rem;
    }
}
@media (max-width: 991px) {
    .business_goals_section .business_goals_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .business_goals_section .business_goals_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .business_goals_item {
        max-width: 309px;
        margin: auto;
    }
}