.animated_gradient {
    width: 100%;
    overflow: hidden;
    background: var(--color-body);
}
.animated_gradient.black {
    background: var(--color-black);
}
.animated_gradient_track {
    display: flex;
    gap: 4rem;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.animated_gradient_track span {
    font-size: clamp(45px, 10vw, 120px);
    font-family: var(--font-poppins-semibold);
    white-space: nowrap;
    position: relative;
    background: linear-gradient(90deg, #A600FF, #4B57FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-body);
    -webkit-text-stroke: 2px transparent;
}
.animated_gradient.black .animated_gradient_track span {
    color: var(--color-black);
}
/* Continuous scrolling */
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
