
.BussinessGrwothDiv {
    width: 100%;
    padding: 60px 40px;
    border-radius: 20px;
}
.HeadingDev {
    text-align: center;
    margin-bottom: 7rem;
}

.PinotDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 20px;
    height:100%;
    min-height: 320px;
     background-image: url("./bussinseGrowth.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 70%;
}
.LayoutSection {
    display: flex;
}


.topPotint1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: -45%;
    left: 6%;
}
.middlePotint2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: -20%;
    left: 14%;
}
 .endPiont3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: -50%;
}
.endPiont3 .textOfDiv{
    max-width: 60%;
}
 .Toppiont4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: 45%;
    position: relative;
}

.MiddlePiont5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 35%;
    position: relative;
    right: 25%;
}
span.NoOFDiv {
    font-size: 48px;
    font-weight: 800;
    line-height: 35px;
    color: #353535;
}

span.textOfDiv {
    font-size: 18px;
    font-weight: 500;
    max-width: 150px;
}


.imgDivScetion {
    /* grid-column: 3; */
    display: flex;
    width: 30%;
    height: 420px;
    background-image: url("./bar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ImageText10 {
    font-size: 35px;
    font-weight: 800;
}

.revenuSection {
    align-items: end;
    transform: rotate(-90deg);
    margin-top: 20px;
    display: flex;
    justify-content: end;
    height: 100%;
    position: relative;
    top: 20%;
    right: 25%;
}

.Section10X {
    padding-top: 24px;
    padding-left: 40px;
}
@media (max-width:1199px) {
    .revenuSection {
    top: 14%;
    right: 44%;
}.Section10X {
    padding-top: 60px;
    padding-left: 12px;
}
    
}
@media (max-width:991px) {
.imgDivScetion {
    width: 100%;
    margin-top: 6rem;
    justify-content: center;
}
.LayoutSection {
    display: inline;
}
.PinotDiv {
    width: 100%;
}.Section10X {
    padding-top: 0px;
    padding-left: 0px;
    position: relative;
    left: -6%;
    top: 10%;
}
.revenuSection {
    top: 20%;
    right: 20%;
}
}
@media (max-width:767px) {
.PinotDiv {

    transform: rotate(86deg);
}    
.topPotint1 {
    rotate: 275deg;
    top: 10%;
    left: -33%;
}
.middlePotint2 {
    top: -20%;
    left: -24%;
    rotate: 273deg;
}
.endPiont3 {
    bottom: -36%;
    rotate: 274deg;
    right: 51%;
}
.endPiont3 .textOfDiv {
    max-width: 100%;
}
.Toppiont4 {
    bottom: 31%;
    rotate: 273deg;
    right: 59%;
}
.MiddlePiont5 {

    top: 24%;
    position: relative;
    right: 95%;
    rotate: 273Deg;
}
}
@media (max-width:575px) {
    .revenuSection {
    top: 20%;
    right: 32%;
}
.PinotDiv {
    margin-bottom: 10rem;
}
.PinotDiv {
    transform: rotate(90deg);
}
    .topPotint1 ,.endPiont3,.middlePotint2,.Toppiont4,.MiddlePiont5{
        rotate: 270Deg;
    }.Section10X {
    padding-top: 0px;
    padding-left: 0px;
    position: relative;
    left: -12%;
    top: 24%;
}
    .PinotDiv {
        background: none;
    }   
    .revenuSection {
    top: 14%;
    right: 69%;
}
.ImageText10 {
    font-size: 24px;
    font-weight: 800;
}.Section10X {
    left: -12%;
    top: 24%;
}
}