/* partners section */
.partner-logos .partner-logo img {
  filter: invert(100%) sepia(0) saturate(100%) hue-rotate(284deg) brightness(220%) contrast(0%);
  cursor: pointer;
  width: max-content;
  object-fit: contain;
  max-width: 100%;
  height: 45px;
}
.partner-logos .partner-logo img:hover {
  filter: none;
}
.partner-logos .partner-logo {
  justify-content: center;
  display: flex;
  height: 52px;
  align-items: center;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .partner-logos .partner-logo {
    padding: 0 10px;
  }
  .partner-logos .partner-logo {
    height: 45px;
  }
  .partner-logos .partner-logo img {
    height: 30px;
  }
}