/* partners section */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.marquee-container:hover .marquee {
  animation-play-state: paused;
}
.marquee-container .marquee {
  display: flex;
  animation: marquee-animation 70s linear infinite;
}
.marquee-container .marquee-track {
  display: flex;
  gap: 2rem;
}
@keyframes marquee-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.partners-panel .partner-logo img {
  filter: invert(100%) sepia(0) saturate(100%) hue-rotate(284deg) brightness(220%) contrast(0%);
  cursor: pointer;
  width: max-content;
  object-fit: contain;
}
.partners-panel .partner-logo img:hover {
  filter: none;
}
.partners-panel .partner-logo {
  justify-content: center;
  display: flex;
  height: 52px;
  width: 200px;
  align-items: center;
  flex: 1;
}
@media (max-width: 480px) {
  .partners-panel .partner-logo {
    padding: 0 10px;
  }
  .partners-panel .partner-logo {
    height: 45px;
  }
  .partners-panel .partner-logo img {
    height: 30px;
  }
}