

.digital-marketing-banner {
    background: url('../../../../public/assests/images/services/digital-marketing/digital-marketing-banner.webp');
    background-size: cover;
    background-position: center;
}



.ChatDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* gap: 20px; */
    margin-bottom: 2rem;
}

.pinkChart, .YellowChat {
    flex: 1 1;
    min-width: 150px;
    padding: 25px;
    text-align: center;
    border-radius: 51px 0px 0px 0px;
}

.pinkChart {
    background: #DFA3FF;
    color: black;
}

.YellowChat {
    background: #FFCC6D;
    color: black;
}

.FontSize16 {
    font-size: 16px;
    margin: 10px 0;
}



.whytochossUsDiv {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.SingleSection {
    flex: 1 1 30%;
    background: #1A1A1A;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.SingleSection span {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.GridSection {
    flex: 1 1 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.GridSectionOuterDiv {
    display: flex;
    gap: 15px;
    padding: 25px;
    border-radius: 20px;
    background: #1A1A1AB2;
    transition: 0.3s ease;
}

.GridSectionOuterDiv:hover {
    background: linear-gradient(306deg, #5E00FF 0%, #00076F 88%);
}

.contentDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.TrustedDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.btnTrustBtn {
    padding: 30px !important;
    border-radius: 52px 0px 54px 0px !important;
}

.letsBuldTogtherdiv {
    align-items: center;
}

img.ImgSectionDiv {
    position: absolute;
    top: 10%;
    right: 10%;
}


@media (max-width: 991px) {

    .whytochossUsDiv {
        flex-direction: column;
    }
img.ImgSectionDiv {
    position: relative;
    margin-top: 4rem;
    right: 10%;
    width: 100%;
}
    .SingleSection,
    .GridSection {
        flex: 1 1 100%;
        width: 100%;
    }

    .GridSection {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 767px) {

    .ChatDiv {
        align-items: end;
    }

    .pinkChart,
    .YellowChat {
        width: 50%;
    }

    .TrustedDiv {
        justify-content: center;
        text-align: center;
    }
    .ChatSection .ddsMainImg img{
    width: 100%;
}

}