.ForComplexWorkFlow{
    background-color: white;
    color: black;
}
.fullwidthSection {
    display: flex;
    background: #2A59DB;
    padding: 48px;
    color: white;
}
.forcomplexGridHeading{
    font-family: var(--font-poppins);
font-weight: 600;
font-size: 45px;
line-height: 55px;
letter-spacing: 0%;

}
span.forcomlexGridPara {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 22px;
    letter-spacing: 0%;
}

.forcomplexSectionGrid {
    display: flex;
    justify-content: space-between;
}
.fullwidthSection {
    display: flex;
    background: #2A59DB;
    padding: 48px;
    color: white;
    gap: 43px;
    border-radius: 25px;
    align-items: center;
    border-radius: 25px;
}
.leftSide {
    width: 65%;
}
.rigthside {
    width: 40%;
}
.rigthside img{
    width: 100%;
}
.containerForCOmplexGrid {
    width: 193px;
}
.ForComplexWorkFlow .MainHeading {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 45px;
    leading-trim: NONE;
    line-height: 55px;
    letter-spacing: 0%;
    margin-bottom: 30px;
}
@media (max-width:767px) {
    .fullwidthSection{
        flex-direction: column;
    }.leftSide {
    width: 100%;
}.forcomplexSectionGrid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}.mainBorder {
    padding: 20px 0px;
    border-top: 2px  solid;
    border-bottom: 2px solid;
}.containerForCOmplexGrid {
    width: 100%;
}
.rigthside{
    width: 100%;
}
}